@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
*{
    margin: 0%;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

/* button */
button{
    text-align: center;
    margin: auto;
}


/* textarea */

textarea {
    width: 50%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

/* output */

#output {
    border: 1px solid black;
    height: 15vh;
    width: 50%;
    padding: 1rem;
    margin: auto;
    
}

/* nav */
nav{
    background-color: yellow;
    text-align: center;
    display: block;
    padding: 3rem;
}

/* text area */
#txt-area{
    margin: auto;
}

/* button center */
.btn-center{
    display: block;
    margin-left: 14.5rem;
    padding-top: 1rem;

}
button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  /* footer */
  